.tableContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.tableContainer table {
  width: 100%;
}

.tableContainer table tr {
  text-align: center;
}

.tableContainer table td {
  color: #1d1a1a;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-top: 1px solid #ddd;
}

.tableContainer table .totalValues {
  color: #212121;
  font-size: 1.5rem;
}

.tableContainer table .headerCellName {
  padding: 1rem 0;
  color: #707070;
  text-align: revert;
  width: 150px;
  max-width: 150px;
  text-transform: capitalize;
}

.tableContainer table .headerCellName:last-child {
  text-transform: uppercase;
}

.tableContainer-EmptyContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  background: #f9f9f9;
}

.tableContainer-EmptyImage img {
  max-width: 300px;
}

.tableContainer-EmptyBody h3 {
  color: #1d1a1a;
  font-size: 1.5rem;
}

.tableContainer-EmptyBody p {
  color: #b9b9b9;
  margin-top: 0.5rem;
}

@media screen and (max-width: 1000px) {
  .tableContainer {
    width: 100%;
    overflow-y: scroll;
  }

  .tableContainer-EmptyContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
